@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"Hello</h1>
</div>
<img class="d-block w-100" src="https://i.pinimg.com/originals/b5/93/3d/b5933df5b7f3bb6b46ffc3596785b92c.jpg" />
